<p>
    THIS is where the SAUCE is MADE


    <form action='/post' method='post' >
        Title:<br>
        <input type="text" name="title" value='a'><br>
        Description:<br>
        <input type="text" name="description"><br>
        Instructions:<br>
        <input type="text" name="instructions"><br>
        <input type="submit" value="Post">
    </form> 
</p>